input {
  width: 300px;
  height: 28px;
  color: #8b8b8b;
  background-color: #e0e0e0;
  padding: 6px 12px;
  border: 0 solid;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

input ::placeholder {
  color: #8b8b8b;
}

canvas {
  border-radius: 4px;
}

div {
  font-family: Helvetica, "sans-serif";
  font-weight: bold;
  color: #000000;
  user-select: none;
}

.name {
  color: #505050;
  background-color: #e0e0e0;
  padding: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 0 0 #505050;
  -moz-box-shadow: 0 4px 0 0 #505050;
  box-shadow: 0 4px 0 0 #505050;
}

.status {
  color: white;
  background-color: #99ff99;
  padding: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 0 0 #7fdf7f;
  -moz-box-shadow: 0 4px 0 0 #7fdf7f;
  box-shadow: 0 4px 0 0 #7fdf7f;
}

.countdown {
  color: white;
  background-color: #39A0ED;
  padding: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 0 0 #3772FF;
  -moz-box-shadow: 0 4px 0 0 #3772FF;
  box-shadow: 0 4px 0 0 #3772FF;
}

.badge {
  color: white;
  background-color: #ff88dc;
  padding: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 0 0 #d06eb3;
  -moz-box-shadow: 0 4px 0 0 #d06eb3;
  box-shadow: 0 4px 0 0 #d06eb3;
}

.error {
  color: white;
  background-color: #ff0040;
  padding: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 0 0 #c12048;
  -moz-box-shadow: 0 4px 0 0 #c12048;
  box-shadow: 0 4px 0 0 #c12048;
}

.button {
  color: #505050;
  font-weight: bold;
  height: 48px;
  width: 150px;
  border-radius: 12px;
  border-color: #e0e0e0;
  border-right: none;
  border-left: none;
  background-color: #e0e0e0;
  -webkit-box-shadow: 0 4px 0 0 #505050;
  -moz-box-shadow: 0 4px 0 0 #505050;
  box-shadow: 0 4px 0 0 #757575;;
}

.game-button {
  color: #505050;
  font-weight: bold;
  padding: 6px;
  width: 150px;
  border-radius: 4px;
  border-color: #e0e0e0;
  border-right: none;
  border-left: none;
  background-color: #e0e0e0;
  -webkit-box-shadow: 0 4px 0 0 #505050;
  -moz-box-shadow: 0 4px 0 0 #505050;
  box-shadow: 0 4px 0 0 #757575;;
}
